@import "../../assets/all.scss";

.selectfloatingbox {
  position: relative;
  font-family: $app_font_Poppins_Regular;
  height: 3.5rem;
  margin: 1rem 0;
}

.floating-label {
  color: rgba(var(--form-label-color), 1);
  // margin-left: -7px;
  // margin-right: 2px;
  // box-sizing: border-box;
  // position: relative;
  // -max-weight: auto!important;
  // font-style: normal !important;
  // font-weight: 400 !important;
  // line-height: 18px !important;
  background-color: rgba(var(--W_color), 1);
  // top: -2.2rem;
  // font-size: .75rem !important;
  // padding-bottom: 2px;
  // padding: 5px;
  // width: -webkit-fit-content;
  // width: -moz-fit-content;
  // width: fit-content;
}

.floating-label.active {
  color: rgba(var(--form-label-color), 1);
  margin-left: 14px;
  margin-right: 2px;
  box-sizing: border-box;
  position: absolute;
  -max-weight: auto !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  background-color: rgba(var(--W_color), 1);
  top: -1.2rem;
  font-size: 0.75rem !important;
  padding-bottom: 2px;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}
