@import "../assets/all.scss";

.under-construction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.title {
  font-size: $app_font_size_16;
  font-weight: bold;
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
}
.footer-message {
  display: flex;
  justify-content: center;
  align-items: center;
}
.crane{
  mix-blend-mode: luminosity;
}
